.blog-list {
  list-style: none;
  width: 40%;
  margin: 0 auto;
}

.blog-list-item {
  border: 1px solid #ccc;
  padding: 8px 10px;
}

.blog-list-item a {
  text-decoration: none;
  color: #656565;
}
